<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="classes" thread-count="10">

    <test name="TestCase1">
        <classes>
            <class name="testing.tests.TestCase1">
            </class>
        </classes>
    </test>
    <test name="TestCase2">
        <classes>
            <class name="testing.tests.TestCase2">
            </class>
        </classes>
    </test>
    <test name="TestCase3">
        <classes>
            <class name="testing.tests.TestCase3">
            </class>
        </classes>
    </test>
    <test name="TestCase4">
        <classes>
            <class name="testing.tests.TestCase4">
            </class>
        </classes>
    </test>
</suite>